<!DOCTYPE html>
<html>
   <meta http-equiv="refresh" content="1">
   <head>
      <style>
            table
            {
                  width: auto;
                  font: 20px Calibri;
                  margin-left:auto;
                  margin-right:auto;
            }
            table, th, td 
            {
                  
                  padding: 4px 5px;
                  text-align: center;
            }
      </style>
   </head>
   <body>
      <div>
            <table id="tab"> 
                  <tr>
                     <th><font style="color:green">Temperature</font></th>
                        <th><font style="color:Red">Humidity</font></th>
                           <th><font style="color:Black">Smoke</font></th>
                  </tr>
                  <tr>
                     <tr><td>{{T_value}}°C</td>
                        <td>{{H_value}}% RH</td>
                           <td>{{S_value}}PPM</td>
                     </tr>
                  </tr>
            </table>
      </div>   
   </body>
</html>